<%- include ('partials/Header'); %>
<body>
    <%- include ('partials/Homenavbar'); %>

    <main class="container">
        <h3><%= article.title %></h3>
        <hr>
        <%- article.body %>
    </main>
</body>
<%- include ('partials/Footer'); %>